* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font: 14px sans-serif;
    background: #fff;
  }
  .sticky {
    padding-top: 30px;
    padding-left: 30px;
    min-width: 200px;
    height: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 140%;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    height: 100%;
    margin: auto;
  }
  ul {
    list-style-type: none; 
  }
  .nested {
    margin-left: 20px;
  }
  a {
    color: #00f;
    text-decoration: none;
  }
  a:hover {
    color: #f00;
    cursor: pointer;
  }
  p {
    line-height: 200%;
  }
  .content {
    padding-top: 80px;
    min-width: 600px;
  }  
  .title {
    font-style: italic;
    float: right;
  }
  td {
    padding: 0 15px 0 0px;
    font-size: 15px;
    line-height: 150%;
  }
  .about {
    display: inline-block;
  }
  .portrait {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    margin: auto;
  }
  