* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

html {
  font: 16px sans-serif;
  background: #fff;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #f00;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.container {
  border-left: 5px solid rgba(0, 0, 0, 0);
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #00f;
  transition: border .25s ease-in-out;
  -moz-transition: border .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out;
}

.container:hover {
  color: #f00;
}

.container:hover {
  border-left: 5px solid #f00;
}

.centered {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 0 auto;
}

.nav .social-links {
  display: inline-block;
}

.nav {
  text-align: left;
  font-size: 1.2em;
  line-height: 200%;
}

.nav a {
  margin-right: 1em;
  margin-bottom: 1em;
}

.nav b {
  margin-right: 1em;
}

.nav .social-links a{
  display: inline-block;
}

.nav .spacer {
  display: inline-block;
}

.nav .glyph {
  width: 0.9em;
  -webkit-filter: url(#blue);
  filter: url(#blue);
  margin-bottom: 0;
  margin-top: 0;
}

.nav .glyph:hover {
  -webkit-filter: url(#red);
  filter: url(#red);
}

.content {
  flex: 1;
  padding-top: 3em;
}

.blog-post img {
  padding-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.blog-post h3 {
  padding-top: 2em;
}

.blog-post p {
  padding-bottom: 1em;
  line-height: 140%;
}

.blog-post ul {
  line-height: 150%;
  margin-left: 1em;
}

.blog-post .footer {
  padding-top: 4em;
  padding-bottom: 4em;
}

td {
  padding: 0em 1em 0em 0em;
  font-size: 0.95em;
  line-height: 150%;
}

.portrait {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 20em;
  display: block;
  margin: auto;
}

.glyph-filters {
  position: absolute;
  height: 0; 
  width: 0;
  overflow: none;  
}

.project {
  margin-bottom: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.project-info .date {
  float: right;
  color: #888;
}

.project img {
  margin-bottom: 1em;
  margin-top: 1em;
}

@media (min-width: 40em) {
  .wrapper {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1fr;
    max-width: 54em;
    padding-top: 0;
  }

  .nav {
    padding-top: 1.5em;
    height: 10em;
    line-height: 140%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .nav a {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
  }

  .nav b {
    margin-right: 0;
  }

  .nav .spacer {
    height: 1em;
    display: block;
  }

  .nav .social-links {
    display: block;
  }

  .nav .galleries {
    text-align: left;
  }

  .nav .nested {
    margin-left: 1em;
  }

  .content {
    padding-top: 5em;
    padding-left: 1em;
  }
}
