* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font: 1em sans-serif;
    background: #fff;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 53em;
    min-height: 100%;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin: auto;
  }

  .nav {
    padding-right: 1em;
    min-width: 10em;
    height: 100%;
    text-align: left;
    font-size: 1.2em;
    line-height: 140%;
  }

  .nav ul {
    list-style-type: none; 
  }

  .nav br {
    line-height: 90%;
  }

  .nav .nested {
    margin-left: 1em;
  }

  .nav .glyph {
    width: 0.9em;
    -webkit-filter: url(#blue);
    filter: url(#blue);
  }

  .nav .glyph:hover {
    -webkit-filter: url(#red);
    filter: url(#red);
  }

  a {
    color: #00f;
    text-decoration: none;
  }

  a:hover {
    color: #f00;
  }

  .content {
    padding-top: 3em;
    min-width: 38em;
  }

  .title {
    font-style: italic;
    float: right;
  }

  td {
    padding: 0em 1em 0em 0em;
    font-size: 0.95em;
    line-height: 150%;
  }

  .about {
    display: inline-block;
  }

  .image {
    width: 100%;
    margin: 0 0 1.2 0em;
    display: inline-block;
  }

  .portrait {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    margin: auto;
  }

  h1 {
    margin: 0 0 1.5 0em;
  }

  p {
    margin: 0 0 20 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 200%;
  }

  .glyph-filters {
    position: absolute;
    height: 0; 
    width: 0;
    overflow: none;  
  }
