body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #ffffff;
}

body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.6;
	min-height: 500px;
	min-width: 700px;
}

td {
	padding:0 15px 0 0px;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #00f;
}

a:hover {
	color: #f00;
}

.header a {
	font-size: 18px;
}

.header_right a {
	padding-left: 10px;
}

.header_right {
	float: right;
}

.header_left {
	float: left;
}

.proj_title {
	font-style: italic;
	float: right;
}

.proj_descrip {
	float: center;
	font-size: 15px;
}

.page_content {
	padding-top: 80px;
}

.width_limit {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 5em;
}
