body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.6;
	min-height: 500px;
	min-width: 700px;
}

a {
	color: #000;
}

a:hover {
	color: #00f;
}

iframe {
	margin-left: 5%;
}

.header {
	margin-bottom: 2em;
}

.header a {
	text-decoration: none;
	font-size: 1.2em;
}

.header_right a {
	padding-left: 10px;
}

.header_right {
	float: right;
}

.width_limit {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	background: #fff;
	margin-top: 5em;
	margin-bottom: 4em;
}

.slides {
	max-width: 1000px;
	margin: 0 auto;

}