* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font: 14px sans-serif;
    background: #fff;
  }
  .sticky {
    padding-top: 30px;
    padding-left: 30px;
    width: 200px;
    text-align: left;
    font-size: 16px;
    line-height: 150%;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    margin: auto;
  }
  button {
    width: 5%;
    border: none;
    background: transparent;
    color: #00f;
    font-size: 30px;
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
  }
  button:hover {
    color: #f00;
  }
  a {
    font-size: 20px;
    color: #00f;
    text-decoration: none;
  }
  a:hover {
    color: #f00;
  }
  .scroller {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }
  .items {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    list-style-type: none;
    white-space: nowrap;
    line-height: 0;
  }
  .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .item:nth-child(2) {
    color: #fff;
  }
  